<!-- =========================COOKIES============================ -->
<div id="cookie-banner" class="cookie-banner">
  <div class="cookie-box">

<button id="closeCookies" aria-label="Închide banner">×</button>

<div class="cookie-icon">
   <img src="/images/cookie.png" alt="politica cookie">
</div>


    <h3>Confidențialitatea ta contează</h3>
    <p>
      Folosim cookie-uri necesare pentru funcționarea site-ului și, cu acordul tău,
      cookie-uri de analiză pentru a îmbunătăți experiența.
    </p>

    <div class="cookie-buttons">
      <button id="acceptCookies">Acceptă toate</button>
      <button id="necessaryCookies">Doar necesare</button>
      <button id="declineCookies">Refuz</button>
    </div>

    <div class="cookie-links">
      <a href="/legal/cookie-policy.html">Politică Cookies</a>
      <a href="/legal/privacy-policy.html">Politică Confidențialitate</a>
    </div>
  </div>
</div>