<!-- FOOTER -->
<footer class="footer">
  <div class="footer-container">

    <div class="footer-col">
      <a href="/index.html"><p class="logo">MIRUNA IORGA</p></a>
      <p>Salon premium pentru femei care vor să arate impecabil în fiecare zi</p>
    </div>

    <div class="footer-col">
      <h3>Legal</h3>
      <ul>
        
        <li><a href="/legal/privacy-policy.html">Politica de Confidențialitate</a></li>
        <li><a href="/legal/cookie-policy.html">Politica Cookies</a></li>
         <li><a href="/legal/terms-conditions.html">Termeni și condiții</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Info</h3>
      <ul>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/contact.html">Locație</a></li>
        <li><a href="/about.html">Despre</a></li>
        <li><a href="/faq.html">FAQ</a></li>
       
      </ul>
    </div>

    <div class="footer-col">
      <h3>Social Media</h3>
      <ul>
        <li>
          <a href="https://instagram.com/mirunaiorga_lashmaster" target="_blank" rel="noopener noreferrer">
            Instagram
          </a></li>
        <li><a href="https://www.tiktok.com/@mirunaiorga.lashmaster" target="_blank" rel="noopener noreferrer">
            TikTok
          </a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 Miruna Iorga. Toate drepturile rezervate.</p>
  </div>
</footer>
