<header class="header">
        <nav class="navbar">
            <p>MIRUNA IORGA</p>

            <div class="hamburger"><img src="/images/hamburger.png" alt="menu" width="39" height="39"></div>

            <ul class="nav-links">

    <li>
        <a href="/index.html">Acasă</a>
    </li>

    <li>
        <a href="/about.html">Despre</a>
    </li>

    <li>
        <a href="/services.html">Prețuri</a>
    </li>

    <li>
        <a href="/galerie.html">Galerie</a>
    </li>

    <li>
        <a href="/contact.html">Contact</a>
    </li>

    <li class="mobile-btn-wrap">
        <button class="btn-programare open-booking">
            PROGRAMEAZĂ-TE
        </button>
    </li>

</ul>
           
        </nav>
    </header>